// Testing
$border: 1px solid red;
$border2: 2px solid green;


// Grays
$offBlack: #334455;
$textgray: #9999aa;
$lightgray: #f4f4f6;
$bglightgray: #fafafc;

// Colors
$blue: #4964F0;
$red: #E42F51;
$green: #22CDA7;


// Screen Sizes
$small: 768px;
$med: 1024px;


// Font
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";